*, 
*::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
header{
    >.card P{
        max-width: 415px;
    }
    .card :last-child{
        padding-block-start: 16px;
        padding-block-end: 64px;

    }

    >.card h2{
        font-size: 2rem;
        padding-block-start: 96px;
        padding-block-end: 48px;
        max-width: fit-content;
    }
    >.card strong{
        color: hsla(160, 100%, 30%, 1);
    }
}
.card{
    max-width: 800px;
    margin: auto;
    padding-block-end: 24px;
    padding-inline: 24px;
    padding-block-start: 8px;
}

p{
    font-size: 20px;
    line-height: 1.875rem;
    font-weight: 500;
}
h2{
    max-width: fit-content;
    font-weight: 800;
}

main{
    background-color: hsla(0, 0%, 40%, 1);
    padding-block-start: 72px;
    padding-block-end: 66px;
    
    >.card{
        background-color: hsla(0, 0%, 100%, 1);
        padding-block-end: 66px; 
    }
    >.card h2{
        padding-block-start: 16px;
        padding-block-end: 15px;
        padding-inline: 32px;
        background-color: hsla(45, 100%, 50%, 1);
        max-width:fit-content;
        margin-inline-start: -32px;
        border-bottom: 8px solid hsla(45, 100%, 40%, 1);
    }
    >.card p{
        padding-block-start: 24px;
    }
}
